.library-buttons {
    -fx-font: 12px sans-serif;
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.library-buttons:hover {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 10%, #d6d6d6 50%),
        linear-gradient(#cccccc 20%, #f6f6f6 70%);
}

.library-buttons:pressed {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 10%, #d6d6d6 50%),
        linear-gradient(#bbbbbb 20%, #e6e6e6 70%);
}

.library-buttons:focused {
    -fx-effect: dropshadow( three-pass-box , rgba(221,126,107,1) , 8, 0.5 , 0 , 1 );
}

.library-buttons:disabled {
    -fx-background-color:
        linear-gradient(#e2e2e2, #c6c6c6),
        linear-gradient(#ececec 0%, #c9c9c9 10%, #c6c6c6 50%),
        linear-gradient(#aaaaaa 20%, #b6b6b6 70%);
}